/*
 Theme Name:   Organium Child
 Description:  Organium Child Theme - Novas Raizes
 Theme URI:    https://organium.artureanec.com
 Author:       Artureanec
 Author URI:   https://demo.artureanec.com
 Template:     organium
 Version:      3.0.0
 License: GNU  General Public License version 3.0
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Text Domain:  organium-child
*/

/* Fix: slider image preenche 100% da altura da seção */
.organium_content_slide_wrapper .organium_content_container .organium_content_wrapper_1 {
    background-color: transparent;
}
.organium_content_slide_wrapper .organium_content_wrapper_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fix: limpa backgrounds indesejados de HTML colado (ChatGPT wrappers) */
.organium_content_slider_promo_text .dark,
.organium_content_slider_promo_text .prose {
    background: transparent !important;
    color: inherit !important;
}
