/*
 Theme Name:   Organium Child
 Description:  Organium Child Theme
 Theme URI:    https://organium.artureanec.com
 Author:       Artureanec
 Author URI:   https://demo.artureanec.com
 Template:     organium
 Version:      1.1.0
 License: GNU  General Public License version 3.0
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Text Domain:  organium-child
*/

/* =Theme customization starts here
------------------------------------------------------- */

/* CI/CD Test v3 - Secrets configured: 2025-12-19 13:55 */